Flask
Flask-Admin
Flask-Security
Flask-SQLAlchemy
flask_httpauth
wtforms
psycopg2
SQLAlchemy-serializer
jsonschema
email_validator
bcrypt
python-dotenv
requests
requests_toolbelt
git+https://github.com/localdevices/odk2odm.git
