bcrypt
celery
cryptography
email_validator
Flask
Flask-Admin
Flask-Security
flask_httpauth
alembic
jsonschema
psycopg2
python-dotenv
SQLAlchemy-serializer
redis
requests
requests_toolbelt
wtforms
git+https://github.com/localdevices/odk2odm.git
