[Unit]
Description=uWSGI instance to serve 3DStreetview
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/home/rainbow/3DStreetview
ExecStart=/usr/local/bin/uwsgi --http :5000 --ini /home/rainbow/3DStreetview/uwsgi.ini

[Install]
WantedBy=multi-user.target
