{% extends 'admin/model/create.html' %}
{% block head %}
    {{ super() }}
    <head>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
       integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
       crossorigin=""/>
    </head>
{% endblock %}
{% block body %}
  {% block create_form %}
    {% call lib.form_tag(action=None) %}
    <!--    {{ lib.render_form_fields(form, form_opts=form_opts) }}-->
    <div class="row" id="extra_config">
        <div class="col-6">
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="latitude" class="control-label">Latitude</label>
                        <input class="form-control" id="latitude" name="latitude" required type="text" oninput="update_location_input()">
                    </div>
                    <div class="form-group">
                        <label for="longitude" class="control-label">Longitude</label>
                        <input class="form-control" id="longitude" name="longitude" required type="text" oninput="update_location_input()">
                    </div>
                    <div class="form-group">
                        <label for="name" class="control-label">Mesh name</label>
                        <input class="form-control" id="name" name="name" required type="text">
                    </div>
                    <div class="form-group">
                        <label for="zipfile" class="control-label">Mesh zipfile</label>
                        <input class="form-control-file" id="zipfile" name="zipfile" required type="file">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-6">
            <div class="">
                <div class="container" style="height: 400px;width:inherit;"><div id="map" style="width:inherit;"></div></div>
            </div>
        </div>
    </div>
    <hr>
    <!--  Add the required fields to configure the right ODM project-->
    <div class="row" >
      <div class="col-6 border-right">
        <h6>ODK project selection</h6>
        <hr>
        <div id="ODK_view">
            <div class="form-group">
                <label for="odk_config" class="control-label">Server</label>
                <select class="form-control" data-role="select2" id="odk_config" onchange="get_odk_projects()" name="odk_config" required>
                    <option disabled selected value> -- select an option -- </option>
                {% for config in odk_configs %}
                    <option value="{{ config.id }}">{{ config }}</option>
                {% endfor %}
                </select>
                <div class="btn-toolbar">
                    <button type="button" id="odk_server_button" class="btn btn-primary mt-2" onClick="location.href='{{ url_for('odm.create_view') }}';">New server</button>
                </div>
            </div>
            <div class="form-group">
                <label for="odk_project" class="control-label">Project</label>
                <select class="form-control" data-role="select2" id="odk_project" name="odk_project" required>
                </select>
                <div class="btn-toolbar">
                    <button type="button" id="odk_project_create" disabled="true" data-toggle="modal" data-target="#newOdkProject" class="btn btn-primary mt-2 mx-2" >New project</button>
                    <button type="button" id="odk_project_delete" disabled="true" class="btn btn-danger mt-2 mx-2">Delete project</button>
                </div>
            </div>
        </div>
      </div>
      <div class="col-6">
        <h6>ODM project selection</h6>
        <hr>
        <div id="ODM_view">
            <div class="form-group">
                <label for="odm_config" class="control-label">Server</label>
                <select class="form-control" data-role="select2" id="odm_config" onchange="get_odm_projects()" name="odm_config" required>
                    <option disabled selected value> -- select an option -- </option>
                {% for config in odm_configs %}
                    <option value="{{ config.id }}">{{ config }}</option>
                {% endfor %}
                </select>
                <div class="btn-toolbar">
                    <button type="button" id="odm_server_button" class="btn btn-primary mt-2" onClick="location.href='{{ url_for('odm.create_view') }}';">New server</button>
                </div>
            </div>
            <div class="form-group">
                <label for="odm_project" class="control-label">Project</label>
                <select class="form-control" data-role="select2" id="odm_project" name="odm_project" required>
                </select>
                <div class="btn-toolbar">
                    <button type="button" id="odm_project_create" disabled="true" data-toggle="modal" data-target="#newOdmProject" class="btn btn-primary mt-2 mx-2" >New project</button>
                    <button type="button" id="odm_project_delete" disabled="true" class="btn btn-danger mt-2 mx-2">Delete project</button>
                </div>
            </div>
        </div>
      </div>
    </div>
        {{ lib.render_form_buttons(return_url, extra(), False) }}
      {% endcall %}
        <!-- Modal fpr new ODM Project-->
    <div class="modal fade" id="newOdmProject" tabindex="-1" role="dialog" aria-labelledby="newProjectLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newProjectLabel">New ODM Project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="odm_project_name" class="control-label">Name</label>
                            <input class="form-control" id="odm_project_name" name="odm_project_name" required="" type="text" value="">
                        </div>
                        <div class="form-group ">
                            <label for="odm_project_desc" class="control-label">Description (optional)</label>
                            <textarea class="form-control" id="odm_project_desc" rows="3"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" onclick="save_odm_project()" class="btn btn-primary save">Save project</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <!-- Modal for new ODM Project-->
    </div>
    <!-- Modal for new ODK Project-->
    <div class="modal fade" id="newOdkProject" tabindex="-1" role="dialog" aria-labelledby="newProjectLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newOdkProjectLabel">New ODK Project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="odk_project_name" class="control-label">Name</label>
                            <input class="form-control" id="odk_project_name" name="odm_project_name" required="" type="text" value="">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" onclick="save_odk_project()" class="btn btn-primary save">Save project</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <!-- Modal for new ODK Project-->
    </div>

  {% endblock %}

{% endblock %}
{% block tail %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/mesh/create.js') }}"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin="">
    </script>
    <script>

        var map = new L.map('map').setView({lon: 0, lat: 0}, 2);
        var maxAutoZoom = 15;
        var osmLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: '&copy; <a href="https://openstreetmap.org/copyright" target="_blank">OpenStreetMap contributors' +
                '</a> ',
            tileSize: 256,
        });
        var googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
            maxZoom: 20,
            subdomains:['mt0','mt1','mt2','mt3']
        });
        var googleTer = L.tileLayer('http://{s}.google.com/vt/lyrs=p&x={x}&y={y}&z={z}', {
            maxZoom: 20,
            subdomains:['mt0','mt1','mt2','mt3']
        });
        var baseMaps = {
            "OpenStreetMap": osmLayer,
            "Google Satellite": googleSat,
            "Google Terrain": googleTer

        }
        L.control.layers(baseMaps).addTo(map);
        osmLayer.addTo(map);
        // add a scale at at your map.
        var scale = L.control.scale().addTo(map);

        // add markers
        var markers = L.featureGroup();
        markers.addTo(map);

        update_location_input = function(){
            var pos_longitude = document.getElementById('longitude').value;
            var pos_latitude = document.getElementById('latitude').value;
            changeMarker(pos_latitude, pos_longitude);
        }

        var pos_longitude = document.getElementById('longitude').value;
        var pos_latitude = document.getElementById('latitude').value;

        // Add a marker for the user to pick a location on the map
        marker = new L.marker([pos_longitude, pos_latitude], {draggable: "true"});
        // update the marker so that it sets everything in the same way
        marker.addTo(map);

        // add markers (separate function)
        map.on("click", function (e) {
            document.getElementById('latitude').value = e.latlng.lat;
            document.getElementById('longitude').value = e.latlng.lng;
            changeMarker(e.latlng.lat, e.latlng.lng);
        });

        function changeMarker(lat, lng){
            var newLatLng = new L.LatLng(lat, lng);
            marker.setLatLng(newLatLng, {draggable: "true"}).bindPopup(newLatLng).update();
            pos_longitude.value = lat;
            pos_latitude.value = lng;
        }
    </script>
{% endblock %}