{% extends 'admin/model/modals/details.html' %}
{% block details_table %}
    <div class="row">
        <div class="col">
            <span>Here you can find the QR code of the ODK project for this Mesh</span>
        </div>
    </div>
        <div class="row">
        <div class="col">
            {% if model.odkproject.app_users|length > 0 %}
                <img src="/api/odk/{{ model.odkproject.odk.id }}/key/{{ model.odkproject.app_users[0]['token'] }}/projects/{{ model.odkproject.remote_id }}" width="300" height="300">
            {% else %}
                <span>No app user defined in ODK project. Please select a different ODK project that includes an app user</span>
            {% endif %}
        </div>
    </div>
    <table class="table table-hover table-bordered searchable">
    {% for c, name in details_columns %}
      <tr>
        <td>
          <b>{{ name }}</b>
        </td>
        <td>
        {{ get_value(model, c) }}
        </td>
      </tr>
    {% endfor %}
    </table>
{% endblock %}
