{% extends 'admin/model/details.html' %}
{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
{% endblock %}
{% block body %}
<input type="hidden" id="mesh_id" value="{{ model.id }}" />
<input type="hidden" id="current_task" value="{{ model.current_task }}" />
<input type="hidden" id="odm_config" value="{{ model.odmproject.odm.id }}" />
<input type="hidden" id="odmproject_id" value="{{ model.odmproject.remote_id }}" />
<input type="hidden" id="odk_config" value="{{ model.odkproject.odk.id }}" />
<input type="hidden" id="odkproject_id" value="{{ model.odkproject.remote_id }}" />
<!-- body -->
<label for="upload">
      <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
      <input type="file" id="upload" style="display:none" value="test">
</label>

<div class="row">
    <div class="container">
        <h2>Mesh project '{{ model.name }}'</h2><span>Monitor ODK submissions, transfer submissions to an ODM task in
        your ODM project, launch ODM tasks and monitor progress, transfer meshes to a game project. Currently, direct transfer to game meshes is not yet supported.
        Instead, please download your mesh from the Assets after creation, and go to <a href="https://github.com/localdevices/3DStreetView-game/blob/main/docs/build_unity_project.md">this</a>
        link to prepare a Unity game with your mesh. Once that is done, zip your game or just the mesh file (extension .data), and upload it in this dashboard
        in the <a href="/dashboard/game">Game project</a> menu. This step will be automated at a later stage.
        </span><br><br>
    </div>
</div>
<hr>
<div class="row">
    <div class="container">
        <h5>ODK submissions</h5>
        <span>ODK server location: <a href="{{ model.odkproject.odk.url }}">{{ model.odkproject.odk.url }}</a> </span><br>
        <span>ODK project name: {{ model.odkproject.project['name'] }} </span><br><br>

        <div class="form-group ">
            <label for="odk_form" class="control-label">Select survey form</label>
            <select class="form-control" data-role="select2" id="odk_form" onchange="get_submissions()" name="odk_form" required>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <table
                id="submissions"
                class="table table-striped table-bordered table-hover model-list"
                data-toggle="table"
                data-search="true"
                data-side-pagination="server"
                data-pagination="true"
                data-page-size="25"
                data-icons-prefix="fas"
                data-buttons="buttons"
                data-buttons-align="left"
                data-search-align="left">
          <thead>
            <tr>
              <th data-checkbox="true"></th>
              <th data-field="instanceId" data-sortable="true">Submission ID</th>
              <th data-field="createdAt" data-sortable="true">Created at</th>
              <th data-field="deviceId" data-sortable="true">Device ID</th>
              <th data-field="reviewState" data-sortable="true">Review State</th>
              <th data-field="submitterId" data-sortable="true">Submitter ID</th>
              <th data-field="updatedAt" data-sortable="true">Updated at</th>
            </tr>
          </thead>
        </table>
    </div>
</div>

<hr>

<div class="container">
    <div class="row">
        <div class="col-4 border-right">
            <h5>ODM task status</h5>
            <span>Create a new task, upload new photos, launch a new task, check the status of a launched task.</span><br><br>
            <span>ODM server location: <a href="{{ model.odmproject.odm.url }}">{{ model.odmproject.odm.url }}</a> </span><br>
            <span>ODK project name: {{ model.odmproject.project['name'] }} </span><br><br>
            <div class="form-group ">
                <label for="odm_task" class="control-label">Select ODM task</label>
                <select class="form-control" data-role="select2" id="odm_task" onchange="update_odm_task()" name="odm_task" required>
                </select>
                <div class="btn-toolbar">
                    <button type="button" id="task_create_button" disabled="true" data-toggle="modal" data-target="#newOdmTask" class="btn btn-primary mt-2 mx-2">New task</button>
                    <button type="button" id="task_delete_button" disabled="true" onclick="delete_odm_task()" class="btn btn-danger mt-2 mx-2">Delete task</button>
                </div>
            </div>
<!--            </div>-->
        </div>
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col name" id="task_id"><span></span></div>
                </div>
                <div class="row">
                    <div class="col-sm-3 details" id="images_count"><i class="far fa-image"></i><span></span></div>
                </div>
                <div class="row">
                    <div class="col-sm-3 details" id="processing_time"><i class="far fa-clock"></i><span></span></div>
                </div>
                <div class="row">
                    <div class="col" id="upload_title">Upload progress</div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" style="width: 0%;" aria-valuemin="0" aria-valuemax="100" id="upload_progress">Upload progress</div>
                </div>
                <div class="row">
                    <div class="col">Process progress</div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" style="width: 0%;" aria-valuemin="0" aria-valuemax="100" id="running_progress">Processing...</div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" id="odm_commit" class="btn btn-primary mx-1" onclick="commit_odm_task()" disabled><i class="fas fa-play-circle"></i> Launch</button>
                            <button type="button" id="odm_cancel" class="btn btn-primary mx-1" onclick="cancel_odm_task()" disabled><i class="fas fa-stop-circle"></i> Cancel</button>
                            <button type="button" id="odm_delete" class="btn btn-danger" disabled><i class="fas fa-trash-alt"></i> Delete assets</button>
                            <button type="button" id="odm_game" class="btn btn-primary mx-1" onclick="mesh_to_game()" disabled><i class="fas fa-cloud-download-alt"></i> Make game</button>
                            <button type="button" id="odm_download" class="btn btn-primary mx-1 dropdown-toggle" data-toggle="dropdown" aria-expanded="false" disabled><i class="fas fa-cloud-download-alt"></i> Assets</button>
                            <div class="dropdown-menu" id="odm_assets">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Modal for new ODM Task -->
    <div class="modal fade" id="newOdmTask" tabindex="-1" role="dialog" aria-labelledby="newOdmTaskLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newOdmTaskLabel">New ODM Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="odm_task_name" class="control-label">Name</label>
                            <input class="form-control" id="odm_task_name" name="odm_task_name" required="" type="text" value="">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" onclick="create_odm_task()" class="btn btn-primary save">Create task</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <!-- Modal for new ODM Task-->
    </div>


<hr>

{% endblock %}
{% block tail %}
  <script src="{{ url_for('static', filename='js/mesh/odk2odm.js') }}"></script>
  <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
  {{ super() }}
{% endblock %}

